@import "src/styles/constants";

$headerHeight: 60px;
$headerBoxShadow: 0 4px 5px 0 rgba(0,0,0,0.75);

.header {
  display: grid;
  grid-gap: $gridMedium;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: $gridBase $gridLarge;
  position: sticky;
  top: 0;
  height: $headerHeight;
  box-shadow: $headerBoxShadow;

  .headerTitle {
      font-size: $fontSizeLarge;
  }
}