@import 'src/styles/constants';

$headerBoxShadow: 0 4px 5px 0 rgba(0, 0, 0, 0.75);

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $headerHeight;
    box-shadow: $headerBoxShadow;
    z-index: $headerZIndex;
    background-color: white; // TODO use a color from constants.scss

    .headerContent {
        height: 100%;
        max-width: $mainContentWidth;
        margin: 0 auto;
        display: grid;
        grid-gap: $gridLarge;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;
        padding: $gridBase $gridLarge;
    }

    .logo {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: $gridTiny;
        align-items: center;
    }

    .headerTitle {
        font-size: $fontSizeLarge;
    }
}
