@import 'src/styles/constants';

$symptomCardHeight: 100px;
$symptomCardBoxShadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.75);

.symptomCard {
    width: 100%;
    height: $symptomCardHeight;
    display: grid;
    grid-gap: $gridBase;
    grid-template-rows: auto minmax(0, 1fr);
    contain: strict;
    box-shadow: $symptomCardBoxShadow;
    padding: $gridBase;

    .title {
        font-weight: bold;
    }

    .description {
        font-size: $fontSizeSmall;
    }
}
