@import 'src/styles/constants';

.main {
    position: relative;
    height: 100%;

    .content {
        max-width: $mainContentWidth;
        min-height: calc(100% - $headerHeight);
        margin: $headerHeight auto 0 auto;
        padding: $gridLarge;
    }
}
