$mainContentWidth: 80rem;
$headerHeight: 3.75rem;
$headerZIndex: 2;

$fontSizeSmall: 0.9rem;
$fontSizeBase: 1rem;
$fontSizeLarge: 1.4rem;

$gridTiny: 0.3rem;
$gridBase: 0.6rem;
$gridMedium: 1.3rem;
$gridLarge: 3rem;

$borderRadiusBase: 5px;
