@import 'src/styles/constants';

.diseasesList {
    display: grid;
    grid-gap: $gridBase;

    .header {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: $gridBase;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        //font-size: $fontSizeLarge;
    }
}
